body {
    background-color: blue; 
}
@media only screen and (max-width: 800px) {
    body {
      background-color: rgb(15, 15, 15);
      color: red;
    }
  }
h1 {
    text-shadow: 2px 2px 5px #FF1443;
}
#advanced {
    background-image: url(kelvin.jpg);
    background-size: cover;
}
#boxshadow {
box-shadow: inset 30px 30px 100px 10px #879BFF;
}
a:hover {
    color: hsl(36,100%,50%);
    transition: 2s;
}
img {
    max-width: 100%;
    height: auto;
}